{{template "base" .}}

{{define "content"}}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>About Us</h1>
                <div class="row">
                    <div class="col">
                        <img src="/static/images/welcome.jpg"
                             class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
                    </div>
                </div>
        
                
        
                <div class="row">
                    <div class="col">
                        <h1 class="text-center mt-4">You are always welcome here</h1>
                        <p>
                            Travel with us as we expand our world, improve the communities we serve and open doors to new opportunities.
                        </p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
{{end}}
